doctype html
html
  head
    title= title
  body
    block content
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript", src="/static/scripts/api.js")
    script(type="text/javascript", src="/static/scripts/index.js")

